In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../../data/anonymized_bsc_dataPVZ.csv')

/Users/dorothyalexander/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (18,20,21,23,24,26,27,29,31,33) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df

,Sttr Term,course_#,course_title,Sttr Student Load,Sttr Stu Credits,Sttr Attempted Cred,Sttr Stu Final Grades,Sttr Cmpl Cred,Sttr Term Gpa,faculty,...,FA5 Enr,FA5 Class,FA5 Major,FA6 Enr,FA6 Class,FA6 Major,Graduated,Grad Term,Grad Year,Grad Major
0,15/SP,DA 101 A,Basic Ballet,F,0.5,3.0,W,3.0,3.667,Melissa Turnage,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,18/SP,1718.0,Psychology
1,15/SP,HI 155 A-ES,Reforming America,F,1.0,NaN,A-,3.0,3.667,Victoria Ott,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,18/SP,1718.0,Psychology
2,15/SP,PL 200 A-CI,Ethical Choice,F,1.0,NaN,B+,3.0,3.667,William Myers,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,18/SP,1718.0,Psychology
3,15/SP,IDS 200 A-CI,Intro to Human Rights (GP),F,1.0,NaN,A,3.0,3.667,Sandra Sprayberry,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,18/SP,1718.0,Psychology
4,15/WI,GEN E299 49,Exploration Project,F,1.0,1.0,S,1.0,0.000,Vincent Gawronski,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,18/SP,1718.0,Psychology
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51532,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51533,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51534,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51535,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51536,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51537 entries, 0 to 51536
Data columns (total 34 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Sttr Term              51518 non-null  object
 1   course_#               51518 non-null  object
 2   course_title           51518 non-null  object
 3   Sttr Student Load      51417 non-null  object
 4   Sttr Stu Credits       51479 non-null  float64
 5   Sttr Attempted Cred    46383 non-null  float64
 6   Sttr Stu Final Grades  51518 non-null  object
 7   Sttr Cmpl Cred         51417 non-null  float64
 8   Sttr Term Gpa          51417 non-null  float64
 9   faculty                51478 non-null  object
 10  alt_id                 51518 non-null  float64
 11  Cohort                 51537 non-null  object
 12  SP1 Enr                50912 non-null  object
 13  SP1 Class              50912 non-null  float64
 14  SP1 Major              40420 non-null  object
 15  FA2 Enr                48702 non-null  object
 16  FA2 Class              48702 non-null  float64
 17  FA2 Major              38538 non-null  object
 18  FA3 Enr                42032 non-null  object
 19  FA3 Class              42032 non-null  float64
 20  FA3 Major              34119 non-null  object
 21  FA4 Enr                35633 non-null  object
 22  FA4 Class              35633 non-null  float64
 23  FA4 Major              35633 non-null  object
 24  FA5 Enr                2135 non-null   object
 25  FA5 Class              2135 non-null   float64
 26  FA5 Major              2095 non-null   object
 27  FA6 Enr                284 non-null    object
 28  FA6 Class              284 non-null    float64
 29  FA6 Major              284 non-null    object
 30  Graduated              40900 non-null  object
 31  Grad Term              33533 non-null  object
 32  Grad Year              33533 non-null  float64
 33  Grad Major             32332 non-null  object
dtypes: float64(12), object(22)
memory usage: 13.4+ MB

## Graduated works for 2014-2018 ##

In [5]:
#features = df.drop('Graduated', axis =1)
#X = features
#y = df.Graduated

In [6]:
df.tail(19)

,Sttr Term,course_#,course_title,Sttr Student Load,Sttr Stu Credits,Sttr Attempted Cred,Sttr Stu Final Grades,Sttr Cmpl Cred,Sttr Term Gpa,faculty,...,FA5 Enr,FA5 Class,FA5 Major,FA6 Enr,FA6 Class,FA6 Major,Graduated,Grad Term,Grad Year,Grad Major
51518,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN
51519,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN
51520,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN
51521,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN
51522,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN
51523,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN
51524,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN
51525,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN
51526,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN
51527,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN
51528,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN
51529,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN
51530,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN
51531,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN
51532,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51533,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51534,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51535,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51536,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Dropping the last 19 rows ##

In [7]:
df.drop(df.index[51518:51537], inplace=True)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51518 entries, 0 to 51517
Data columns (total 34 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Sttr Term              51518 non-null  object
 1   course_#               51518 non-null  object
 2   course_title           51518 non-null  object
 3   Sttr Student Load      51417 non-null  object
 4   Sttr Stu Credits       51479 non-null  float64
 5   Sttr Attempted Cred    46383 non-null  float64
 6   Sttr Stu Final Grades  51518 non-null  object
 7   Sttr Cmpl Cred         51417 non-null  float64
 8   Sttr Term Gpa          51417 non-null  float64
 9   faculty                51478 non-null  object
 10  alt_id                 51518 non-null  float64
 11  Cohort                 51518 non-null  object
 12  SP1 Enr                50911 non-null  object
 13  SP1 Class              50911 non-null  float64
 14  SP1 Major              40419 non-null  object
 15  FA2 Enr                48702 non-null  object
 16  FA2 Class              48702 non-null  float64
 17  FA2 Major              38538 non-null  object
 18  FA3 Enr                42032 non-null  object
 19  FA3 Class              42032 non-null  float64
 20  FA3 Major              34119 non-null  object
 21  FA4 Enr                35633 non-null  object
 22  FA4 Class              35633 non-null  float64
 23  FA4 Major              35633 non-null  object
 24  FA5 Enr                2135 non-null   object
 25  FA5 Class              2135 non-null   float64
 26  FA5 Major              2095 non-null   object
 27  FA6 Enr                284 non-null    object
 28  FA6 Class              284 non-null    float64
 29  FA6 Major              284 non-null    object
 30  Graduated              40886 non-null  object
 31  Grad Term              33533 non-null  object
 32  Grad Year              33533 non-null  float64
 33  Grad Major             32332 non-null  object
dtypes: float64(12), object(22)
memory usage: 13.8+ MB

In [9]:
df.tail(19)

,Sttr Term,course_#,course_title,Sttr Student Load,Sttr Stu Credits,Sttr Attempted Cred,Sttr Stu Final Grades,Sttr Cmpl Cred,Sttr Term Gpa,faculty,...,FA5 Enr,FA5 Class,FA5 Major,FA6 Enr,FA6 Class,FA6 Major,Graduated,Grad Term,Grad Year,Grad Major
51499,21/SP,EH 205 A-CE,Intro to Creative Writing,F,1.00,4.5,A,4.5,3.982,Melinda Thompson,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51500,21/SP,MU 152 A,Theory II,F,0.75,4.5,A,4.5,3.982,Rebecca Remley,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51501,21/SP,MU 155 A,Ear Training II,F,0.25,4.5,A-,4.5,3.982,Christopher Harris,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51502,21/SP,PH 122 A,General Physics II,F,1.00,4.5,A,4.5,3.982,Duane Pontius,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51503,21/SP,MS 350 E,Saxophone,F,0.50,4.5,A,4.5,3.982,Robert Janssen,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51504,20/SP,HI 212 A-ES,Hamilton's America,F,1.00,2.0,D,1.0,0.500,Victoria Ott,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51505,20/SP,PL 252 A-IA,Modern Philosophy,F,1.00,2.0,U,1.0,0.500,William Myers,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51506,20/SP,EH 102 J,Sem Critical Thinking Writing,F,1.00,2.0,F,1.0,0.500,Timothy Tipton,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51507,20/FA,THA 120 B-CE,Beginning Acting,F,1.00,3.0,F,0.0,0.000,Alan Litsey,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51508,20/FA,PY 101 A,Introduction to Psychology,F,1.00,3.0,F,0.0,0.000,Kyle Kraemer,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51509,20/FA,PL 241 A-QA,Logic,F,1.00,3.0,F,0.0,0.000,William Myers,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51510,20/FA,PY 101 D,Introduction to Psychology,F,1.00,4.0,A-,4.0,3.335,Jessica Allen,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51511,20/FA,GRS 240 A-ES,The Greek Gods,F,1.00,4.0,B,4.0,3.335,Mary Gilbert,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51512,20/FA,BA 201 F,Foundations of Bus Thought,F,1.00,4.0,B,4.0,3.335,Mary Harrison,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51513,20/FA,EH 102 F,Sem Critical Thinking Writing,F,1.00,4.0,A-,4.0,3.335,Mary Foster,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51514,21/SP,AC 221 A,Financial Accounting,F,1.00,4.0,A,4.0,3.250,Tracy Smith,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51515,21/SP,EC 202 A-IA,Prin of Microeconomics,F,1.00,4.0,B,4.0,3.250,Randall Cragun,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51516,21/SP,ED 313 A-IA,Language & Literacy I,F,1.00,4.0,A,4.0,3.250,Louanne Jacobs,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51517,21/SP,HI 277 A,Spec Top: Europe Since 1945,F,1.00,4.0,C,4.0,3.250,Randall Law,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

We are investigating outliers.

In [31]:
dfIDS = pd.DataFrame(df.alt_id.value_counts(ascending=False))

In [40]:
dfIDS.tail(70)

        alt_id
2063.0       4
161.0        4
2479.0       3
3168.0       3
1219.0       3
...        ...
1732.0       3
2388.0       3
2085.0       3
2262.0       3
2902.0       2

[70 rows x 1 columns]

In [41]:
df.loc[(df['alt_id'] == 2902.0)]

,Sttr Term,course_#,course_title,Sttr Student Load,Sttr Stu Credits,Sttr Attempted Cred,Sttr Stu Final Grades,Sttr Cmpl Cred,Sttr Term Gpa,faculty,...,FA5 Enr,FA5 Class,FA5 Major,FA6 Enr,FA6 Class,FA6 Major,Graduated,Grad Term,Grad Year,Grad Major
46919,18/FA,IDS 101 A,What Best College Student,P,0.5,0.5,D,0.5,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46920,19/SU,UES 150 A-SM,Intro Environmental Studies,F,1.0,2.0,B,2.0,2.5,Mary Kamber,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
#changed dataframe
    #used to be set to df_4 but now df

df = df.loc[(df['Cohort'] == '14/FA') | (df['Cohort'] == '15/FA') | (df['Cohort'] == '16/FA')
              | (df['Cohort'] == '17/FA')]
df = df.dropna(subset=['Sttr Term'])
df

,Sttr Term,course_#,course_title,Sttr Student Load,Sttr Stu Credits,Sttr Attempted Cred,Sttr Stu Final Grades,Sttr Cmpl Cred,Sttr Term Gpa,faculty,...,FA5 Enr,FA5 Class,FA5 Major,FA6 Enr,FA6 Class,FA6 Major,Graduated,Grad Term,Grad Year,Grad Major
0,15/SP,DA 101 A,Basic Ballet,F,0.5,3.0,W,3.0,3.667,Melissa Turnage,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,18/SP,1718.0,Psychology
1,15/SP,HI 155 A-ES,Reforming America,F,1.0,NaN,A-,3.0,3.667,Victoria Ott,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,18/SP,1718.0,Psychology
2,15/SP,PL 200 A-CI,Ethical Choice,F,1.0,NaN,B+,3.0,3.667,William Myers,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,18/SP,1718.0,Psychology
3,15/SP,IDS 200 A-CI,Intro to Human Rights (GP),F,1.0,NaN,A,3.0,3.667,Sandra Sprayberry,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,18/SP,1718.0,Psychology
4,15/WI,GEN E299 49,Exploration Project,F,1.0,1.0,S,1.0,0.000,Vincent Gawronski,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,18/SP,1718.0,Psychology
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41079,18/FA,EH 102 A,Sem Critical Thinking Writing,F,1.0,3.0,B,3.0,3.667,Jane Archer,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN
41080,19/SP,MFS 220 A-CE,Film Production I,F,1.0,4.0,A,4.0,2.500,Robert Corna,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN
41081,19/SP,PY 101 C,Introduction to Psychology,F,1.0,NaN,C,4.0,2.500,Greta Valenti,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN
41082,19/SP,MU 114 A-CE,Class Voice,F,1.0,NaN,B,4.0,2.500,Paul Wolf,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN
41083,19/SP,EH 210 A-IA,Introduction to Fiction,F,1.0,NaN,D,4.0,2.500,Haden Bell,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN

## Checking for Course Title Duplicates ##

In [11]:
print(df['course_title'].value_counts())

Exploration Project               3097
Sem Critical Thinking Writing     1210
Introduction to Psychology         973
Calculus I                         660
Introduction to Sociology          651
                                  ...
Mammalian Physiology                 1
Industrial/Organizational Psyc       1
Saxohone                             1
Pol of Mexico and Central Amer       1
Digital Publishing                   1
Name: course_title, Length: 952, dtype: int64

In [12]:
print(df.nunique())

Sttr Term                  24
course_#                 1721
course_title              952
Sttr Student Load           5
Sttr Stu Credits            7
Sttr Attempted Cred        23
Sttr Stu Final Grades      19
Sttr Cmpl Cred             24
Sttr Term Gpa             789
faculty                   292
alt_id                   1455
Cohort                      4
SP1 Enr                     4
SP1 Class                   3
SP1 Major                  25
FA2 Enr                     4
FA2 Class                   4
FA2 Major                  28
FA3 Enr                     4
FA3 Class                   4
FA3 Major                  36
FA4 Enr                     4
FA4 Class                   3
FA4 Major                  43
FA5 Enr                     3
FA5 Class                   3
FA5 Major                  20
FA6 Enr                     2
FA6 Class                   1
FA6 Major                   5
Graduated                   2
Grad Term                  16
Grad Year                   5
Grad Major                 46
dtype: int64

## One Hot Encoding Course Title ##

In [13]:
from sklearn.preprocessing import OneHotEncoder
from numpy import asarray

In [14]:
    #data = df_4[['course_title']]
#encoder = OneHotEncoder(handle_unknown='ignore')
    #encoded = OneHotEncoder(sparse=False)
#encoder.fit(df)
    #encoded_df = encoded.fit_transform(data)
#df_encoded = encoder.transform(df)
    #encoded_df

In [15]:
#ohe = OneHotEncoder()
#dummies = ohe.fit_transform(df_4[['course_title']])
#dummies_df = pd.DataFrame(dummies.todense(), columns=ohe.get_feature_names(), index=df_4.index)
#ohe_df = pd.concat([df_4, dummies_df], axis=1)

#### Do not need to label encoder ####

In [16]:
#from sklearn.preprocessing import LabelEncoder

In [17]:
#le = LabelEncoder()

In [18]:
#le.fit(df['course_title'])

In [19]:
#df['course_title'] = le.transform(df['course_title'])

In [20]:
#df

## Creating Target and Feature Variables ##

In [21]:
from sklearn.model_selection import train_test_split

y = df['Graduated']
X = df.drop(columns=['Graduated'], axis=1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=2021)

## Changing Graduation to no being 0 and yes being 1 ##

In [22]:
#recode the graduation column so that N = 0 & Y = 1
mapping = {'N': 0, 'Y': 1}
df['Graduated'] = df['Graduated'].map(mapping)

In [23]:
target = df['Graduated']
target

0        1
1        1
2        1
3        1
4        1
        ..
41079    0
41080    0
41081    0
41082    0
41083    0
Name: Graduated, Length: 40886, dtype: int64

In [24]:
df

,Sttr Term,course_#,course_title,Sttr Student Load,Sttr Stu Credits,Sttr Attempted Cred,Sttr Stu Final Grades,Sttr Cmpl Cred,Sttr Term Gpa,faculty,...,FA5 Enr,FA5 Class,FA5 Major,FA6 Enr,FA6 Class,FA6 Major,Graduated,Grad Term,Grad Year,Grad Major
0,15/SP,DA 101 A,Basic Ballet,F,0.5,3.0,W,3.0,3.667,Melissa Turnage,...,NaN,NaN,NaN,NaN,NaN,NaN,1,18/SP,1718.0,Psychology
1,15/SP,HI 155 A-ES,Reforming America,F,1.0,NaN,A-,3.0,3.667,Victoria Ott,...,NaN,NaN,NaN,NaN,NaN,NaN,1,18/SP,1718.0,Psychology
2,15/SP,PL 200 A-CI,Ethical Choice,F,1.0,NaN,B+,3.0,3.667,William Myers,...,NaN,NaN,NaN,NaN,NaN,NaN,1,18/SP,1718.0,Psychology
3,15/SP,IDS 200 A-CI,Intro to Human Rights (GP),F,1.0,NaN,A,3.0,3.667,Sandra Sprayberry,...,NaN,NaN,NaN,NaN,NaN,NaN,1,18/SP,1718.0,Psychology
4,15/WI,GEN E299 49,Exploration Project,F,1.0,1.0,S,1.0,0.000,Vincent Gawronski,...,NaN,NaN,NaN,NaN,NaN,NaN,1,18/SP,1718.0,Psychology
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41079,18/FA,EH 102 A,Sem Critical Thinking Writing,F,1.0,3.0,B,3.0,3.667,Jane Archer,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
41080,19/SP,MFS 220 A-CE,Film Production I,F,1.0,4.0,A,4.0,2.500,Robert Corna,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
41081,19/SP,PY 101 C,Introduction to Psychology,F,1.0,NaN,C,4.0,2.500,Greta Valenti,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
41082,19/SP,MU 114 A-CE,Class Voice,F,1.0,NaN,B,4.0,2.500,Paul Wolf,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
41083,19/SP,EH 210 A-IA,Introduction to Fiction,F,1.0,NaN,D,4.0,2.500,Haden Bell,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN

## Sorting Semester Term - Ascending ##

In [25]:
df['alt_id'] = df['alt_id'].astype(int)

In [26]:
df.sort_values(['alt_id', 'Sttr Term'], ascending=True)

,Sttr Term,course_#,course_title,Sttr Student Load,Sttr Stu Credits,Sttr Attempted Cred,Sttr Stu Final Grades,Sttr Cmpl Cred,Sttr Term Gpa,faculty,...,FA5 Enr,FA5 Class,FA5 Major,FA6 Enr,FA6 Class,FA6 Major,Graduated,Grad Term,Grad Year,Grad Major
10589,15/FA,EH 102 H,Sem Critical Thinking Writing,F,1.0,3.0,B-,2.0,1.557,Melinda Thompson,...,NaN,NaN,NaN,NaN,NaN,NaN,1,19/SP,1819.0,Psychology
10590,15/FA,MFS 210 A-IA,Film Analysis,F,1.0,3.0,F,2.0,1.557,David Resha,...,NaN,NaN,NaN,NaN,NaN,NaN,1,19/SP,1819.0,Psychology
10591,15/FA,SN 220 A,Intermediate Spanish,F,1.0,3.0,C,2.0,1.557,Jane Spencer,...,NaN,NaN,NaN,NaN,NaN,NaN,1,19/SP,1819.0,Psychology
10598,16/FA,ED 201 C,Intro to Education,F,1.0,4.0,A,4.0,3.168,Tara Bennett,...,NaN,NaN,NaN,NaN,NaN,NaN,1,19/SP,1819.0,Psychology
10599,16/FA,MFS 100 A,Intro to Media Studies,F,1.0,4.0,A-,4.0,3.168,Robert Corna,...,NaN,NaN,NaN,NaN,NaN,NaN,1,19/SP,1819.0,Psychology
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40896,19/SP,EC 202 A-IA,Prin of Microeconomics,F,1.0,NaN,C,3.0,1.585,Javier Portillo Elias,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
40897,19/SP,MFS 222 A-CE,Screenwriting,F,1.0,NaN,C-,3.0,1.585,Robert Corna,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
40901,20/SP,AR 150 A-CE,Drawing I,F,1.0,0.0,5,0.0,0.000,Kevin Shook,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
40902,20/SP,AR 331 A,Relief Printmaking,F,1.0,0.0,5,0.0,0.000,Kevin Shook,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
40903,20/SP,ARH 216 A-GP,Intro Art Hist: Ren to Pres,F,1.0,0.0,U,0.0,0.000,Kathleen Spies,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN

In [27]:
df.query('course_title==0')

Empty DataFrame
Columns: [Sttr Term, course_#, course_title, Sttr Student Load, Sttr Stu Credits, Sttr Attempted Cred, Sttr Stu Final Grades, Sttr Cmpl Cred, Sttr Term Gpa, faculty, alt_id, Cohort, SP1 Enr, SP1 Class, SP1 Major, FA2 Enr, FA2 Class, FA2 Major, FA3 Enr, FA3 Class, FA3 Major, FA4 Enr, FA4 Class, FA4 Major, FA5 Enr, FA5 Class, FA5 Major, FA6 Enr, FA6 Class, FA6 Major, Graduated, Grad Term, Grad Year, Grad Major]
Index: []

[0 rows x 34 columns]

In [28]:
import numpy as np

df = df.sort_values(['Sttr Term'], ascending=True)

student_ids = df.alt_id.unique()

course_sequences = []

for s_id in student_ids:
    frame = df[df['alt_id'] == s_id]
    course_ids = ' '.join(frame.course_title.str.replace(' ', '').to_list())
    course_sequences.append(course_ids)

In [29]:
np.array(course_sequences)[1]

'IntroductiontoPsychology ElementaryTheoryI Gender,Race,andClassinLit SymphonicBand FrenchHorn Screenwriting StatisticsforResearch HebrewBible AbrahamicReligions SymphonicBand BeginningActing SpecTopics:AfriAmerPsych SymphonicBand ClassicandModernTheatre SemCriticalThinkingWriting ExplorationProject Pre-DepartTopicsStudyAbroad Shakespeare(cat.2) AdvancedProseWorkshop SurveyofBritishLiterature ExplorationsinBiology IslamicTraditions&Cultures ScripturesinLit,Art,&Film ViolenceandtheBible Stereotyping,Prej,MinorExp ExplorationProject VictorianProse&Poet(cat.1) IntrotoCreativeWriting StudiesintheNovel(cat.5) StudyAbroad TheoriesandMethLitAnalysis SurveyofAmericanLiterature SeniorSeminar'

In [30]:
from tensorflow.keras.preprocessing.text import Tokenizer

tokenizer = Tokenizer()

tokenizer.fit_on_texts(course_sequences)

encoded_sequences = tokenizer.texts_to_sequences(course_sequences)

In [31]:
from tensorflow.keras.preprocessing.sequence import pad_sequences

padded_sequences = pad_sequences(
    encoded_sequences, maxlen=None, dtype='int32', padding='post',
    truncating='post', value=0.0
)

In [32]:
from sklearn.preprocessing import OneHotEncoder

feature_encoder = OneHotEncoder(handle_unknown='ignore')

feature_ids = list(tokenizer.word_index.values())

feature_encoder.fit(np.array(feature_ids).reshape(-1,1))

feature_encoder.transform(np.array(padded_sequences[0]).reshape(-1,1)).reshape(-1,1)

<87440x1 sparse matrix of type '<class 'numpy.float64'>'
	with 21 stored elements in COOrdinate format>

In [33]:
padded_sequences[0]

array([ 10,  11,   2,   7,  40, 231, 118,  13,  12,   9,  94,  96,   3,
       388,   1, 222, 127, 129, 389, 210,  26,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0], dtype=int32)

In [34]:
padded_reshaped = padded_sequences.reshape(1455, 80, 1)

In [46]:
from tensorflow.keras import Sequential, Input
from tensorflow.keras.layers import LSTM, Bidirectional, Dense

model = Sequential()
input_layer = Input(shape=(80, 1))
sequential_1 = LSTM(64, activation='relu')

output_layer = Dense(1, activation='sigmoid')

model.add(input_layer)
model.add(sequential_1)
model.add(output_layer)

model.compile(optimizer='adam', loss='binary_crossentropy', metrics = ['accuracy'])

In [47]:
target = np.random.choice([0,1], size=1455)

In [48]:
model.fit(padded_reshaped, target, epochs=10)

Epoch 1/10
46/46 [==============================] - 2s 27ms/step - loss: 83.1806 - accuracy: 0.5244
Epoch 2/10
46/46 [==============================] - 1s 28ms/step - loss: 111.7795 - accuracy: 0.5091
Epoch 3/10
46/46 [==============================] - 1s 29ms/step - loss: nan - accuracy: 0.4917
Epoch 4/10
46/46 [==============================] - 1s 28ms/step - loss: nan - accuracy: 0.4893
Epoch 5/10
46/46 [==============================] - 1s 28ms/step - loss: nan - accuracy: 0.5151
Epoch 6/10
46/46 [==============================] - 1s 30ms/step - loss: nan - accuracy: 0.4857
Epoch 7/10
46/46 [==============================] - 1s 30ms/step - loss: nan - accuracy: 0.4953
Epoch 8/10
46/46 [==============================] - 1s 28ms/step - loss: nan - accuracy: 0.4988
Epoch 9/10
46/46 [==============================] - 1s 28ms/step - loss: nan - accuracy: 0.5155
Epoch 10/10
46/46 [==============================] - 1s 28ms/step - loss: nan - accuracy: 0.5017

In [38]:
!pip install numpy==1.19.5

Requirement already satisfied: numpy==1.19.5 in /Users/dorothyalexander/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (1.19.5)

### One Hot Encoding ###

In [41]:
from sklearn.preprocessing import OneHotEncoder

#encoder = OneHotEncoder()
#encoder.fit(df[['course_title']])

pd.DataFrame(feature_encoder.transform(np.array(padded_sequences[0]).reshape(-1,1)).todense())
np.array(padded_sequences[0]).reshape(-1,1)

array([[ 10],
       [ 11],
       [  2],
       [  7],
       [ 40],
       [231],
       [118],
       [ 13],
       [ 12],
       [  9],
       [ 94],
       [ 96],
       [  3],
       [388],
       [  1],
       [222],
       [127],
       [129],
       [389],
       [210],
       [ 26],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0]], dtype=int32)

In [ ]:
#for list in lists(len(sequence))

In [ ]:
multi_sequence

In [ ]:
for list in lists(len(sequence))
multi_sequence.append(sequence)

In [ ]:
#len(encoded_df)

In [ ]:
#df_4.isna().sum()

In [ ]:
#df_encoded = encoded.transform(df_4[['course_title']])

In [ ]:
#df_4['encoded'] = df_encoded

## Taking out faculty_ next to professors names in column titles ##

In [ ]:
#df.columns = df.columns.str.replace('faculty_', '')

In [ ]:
#df

## Taking out course_title next to course names in column titles ##

In [ ]:
#df.columns = df.columns.str.replace('course_title', '')