In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../../data/anonymized_bsc_dataPVZ.csv')

/Users/dorothyalexander/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (18,20,21,23,24,26,27,29,31,33) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df

,Sttr Term,course_#,course_title,Sttr Student Load,Sttr Stu Credits,Sttr Attempted Cred,Sttr Stu Final Grades,Sttr Cmpl Cred,Sttr Term Gpa,faculty,...,FA5 Enr,FA5 Class,FA5 Major,FA6 Enr,FA6 Class,FA6 Major,Graduated,Grad Term,Grad Year,Grad Major
0,15/SP,DA 101 A,Basic Ballet,F,0.5,3.0,W,3.0,3.667,Melissa Turnage,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,18/SP,1718.0,Psychology
1,15/SP,HI 155 A-ES,Reforming America,F,1.0,NaN,A-,3.0,3.667,Victoria Ott,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,18/SP,1718.0,Psychology
2,15/SP,PL 200 A-CI,Ethical Choice,F,1.0,NaN,B+,3.0,3.667,William Myers,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,18/SP,1718.0,Psychology
3,15/SP,IDS 200 A-CI,Intro to Human Rights (GP),F,1.0,NaN,A,3.0,3.667,Sandra Sprayberry,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,18/SP,1718.0,Psychology
4,15/WI,GEN E299 49,Exploration Project,F,1.0,1.0,S,1.0,0.000,Vincent Gawronski,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,18/SP,1718.0,Psychology
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51532,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51533,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51534,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51535,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51536,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51537 entries, 0 to 51536
Data columns (total 34 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Sttr Term              51518 non-null  object
 1   course_#               51518 non-null  object
 2   course_title           51518 non-null  object
 3   Sttr Student Load      51417 non-null  object
 4   Sttr Stu Credits       51479 non-null  float64
 5   Sttr Attempted Cred    46383 non-null  float64
 6   Sttr Stu Final Grades  51518 non-null  object
 7   Sttr Cmpl Cred         51417 non-null  float64
 8   Sttr Term Gpa          51417 non-null  float64
 9   faculty                51478 non-null  object
 10  alt_id                 51518 non-null  float64
 11  Cohort                 51537 non-null  object
 12  SP1 Enr                50912 non-null  object
 13  SP1 Class              50912 non-null  float64
 14  SP1 Major              40420 non-null  object
 15  FA2 Enr                48702 non-null  object
 16  FA2 Class              48702 non-null  float64
 17  FA2 Major              38538 non-null  object
 18  FA3 Enr                42032 non-null  object
 19  FA3 Class              42032 non-null  float64
 20  FA3 Major              34119 non-null  object
 21  FA4 Enr                35633 non-null  object
 22  FA4 Class              35633 non-null  float64
 23  FA4 Major              35633 non-null  object
 24  FA5 Enr                2135 non-null   object
 25  FA5 Class              2135 non-null   float64
 26  FA5 Major              2095 non-null   object
 27  FA6 Enr                284 non-null    object
 28  FA6 Class              284 non-null    float64
 29  FA6 Major              284 non-null    object
 30  Graduated              40900 non-null  object
 31  Grad Term              33533 non-null  object
 32  Grad Year              33533 non-null  float64
 33  Grad Major             32332 non-null  object
dtypes: float64(12), object(22)
memory usage: 13.4+ MB

## Graduated works for 2014-2018 ##

In [5]:
#features = df.drop('Graduated', axis =1)
#X = features
#y = df.Graduated

In [6]:
df.tail(19)

,Sttr Term,course_#,course_title,Sttr Student Load,Sttr Stu Credits,Sttr Attempted Cred,Sttr Stu Final Grades,Sttr Cmpl Cred,Sttr Term Gpa,faculty,...,FA5 Enr,FA5 Class,FA5 Major,FA6 Enr,FA6 Class,FA6 Major,Graduated,Grad Term,Grad Year,Grad Major
51518,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN
51519,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN
51520,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN
51521,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN
51522,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN
51523,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN
51524,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN
51525,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN
51526,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN
51527,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN
51528,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN
51529,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN
51530,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN
51531,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN
51532,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51533,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51534,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51535,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51536,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Dropping the last 19 rows ##

In [7]:
df.drop(df.index[51518:51537], inplace=True)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51518 entries, 0 to 51517
Data columns (total 34 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Sttr Term              51518 non-null  object
 1   course_#               51518 non-null  object
 2   course_title           51518 non-null  object
 3   Sttr Student Load      51417 non-null  object
 4   Sttr Stu Credits       51479 non-null  float64
 5   Sttr Attempted Cred    46383 non-null  float64
 6   Sttr Stu Final Grades  51518 non-null  object
 7   Sttr Cmpl Cred         51417 non-null  float64
 8   Sttr Term Gpa          51417 non-null  float64
 9   faculty                51478 non-null  object
 10  alt_id                 51518 non-null  float64
 11  Cohort                 51518 non-null  object
 12  SP1 Enr                50911 non-null  object
 13  SP1 Class              50911 non-null  float64
 14  SP1 Major              40419 non-null  object
 15  FA2 Enr                48702 non-null  object
 16  FA2 Class              48702 non-null  float64
 17  FA2 Major              38538 non-null  object
 18  FA3 Enr                42032 non-null  object
 19  FA3 Class              42032 non-null  float64
 20  FA3 Major              34119 non-null  object
 21  FA4 Enr                35633 non-null  object
 22  FA4 Class              35633 non-null  float64
 23  FA4 Major              35633 non-null  object
 24  FA5 Enr                2135 non-null   object
 25  FA5 Class              2135 non-null   float64
 26  FA5 Major              2095 non-null   object
 27  FA6 Enr                284 non-null    object
 28  FA6 Class              284 non-null    float64
 29  FA6 Major              284 non-null    object
 30  Graduated              40886 non-null  object
 31  Grad Term              33533 non-null  object
 32  Grad Year              33533 non-null  float64
 33  Grad Major             32332 non-null  object
dtypes: float64(12), object(22)
memory usage: 13.8+ MB

In [9]:
df.tail(19)

,Sttr Term,course_#,course_title,Sttr Student Load,Sttr Stu Credits,Sttr Attempted Cred,Sttr Stu Final Grades,Sttr Cmpl Cred,Sttr Term Gpa,faculty,...,FA5 Enr,FA5 Class,FA5 Major,FA6 Enr,FA6 Class,FA6 Major,Graduated,Grad Term,Grad Year,Grad Major
51499,21/SP,EH 205 A-CE,Intro to Creative Writing,F,1.00,4.5,A,4.5,3.982,Melinda Thompson,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51500,21/SP,MU 152 A,Theory II,F,0.75,4.5,A,4.5,3.982,Rebecca Remley,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51501,21/SP,MU 155 A,Ear Training II,F,0.25,4.5,A-,4.5,3.982,Christopher Harris,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51502,21/SP,PH 122 A,General Physics II,F,1.00,4.5,A,4.5,3.982,Duane Pontius,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51503,21/SP,MS 350 E,Saxophone,F,0.50,4.5,A,4.5,3.982,Robert Janssen,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51504,20/SP,HI 212 A-ES,Hamilton's America,F,1.00,2.0,D,1.0,0.500,Victoria Ott,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51505,20/SP,PL 252 A-IA,Modern Philosophy,F,1.00,2.0,U,1.0,0.500,William Myers,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51506,20/SP,EH 102 J,Sem Critical Thinking Writing,F,1.00,2.0,F,1.0,0.500,Timothy Tipton,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51507,20/FA,THA 120 B-CE,Beginning Acting,F,1.00,3.0,F,0.0,0.000,Alan Litsey,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51508,20/FA,PY 101 A,Introduction to Psychology,F,1.00,3.0,F,0.0,0.000,Kyle Kraemer,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51509,20/FA,PL 241 A-QA,Logic,F,1.00,3.0,F,0.0,0.000,William Myers,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51510,20/FA,PY 101 D,Introduction to Psychology,F,1.00,4.0,A-,4.0,3.335,Jessica Allen,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51511,20/FA,GRS 240 A-ES,The Greek Gods,F,1.00,4.0,B,4.0,3.335,Mary Gilbert,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51512,20/FA,BA 201 F,Foundations of Bus Thought,F,1.00,4.0,B,4.0,3.335,Mary Harrison,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51513,20/FA,EH 102 F,Sem Critical Thinking Writing,F,1.00,4.0,A-,4.0,3.335,Mary Foster,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51514,21/SP,AC 221 A,Financial Accounting,F,1.00,4.0,A,4.0,3.250,Tracy Smith,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51515,21/SP,EC 202 A-IA,Prin of Microeconomics,F,1.00,4.0,B,4.0,3.250,Randall Cragun,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51516,21/SP,ED 313 A-IA,Language & Literacy I,F,1.00,4.0,A,4.0,3.250,Louanne Jacobs,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51517,21/SP,HI 277 A,Spec Top: Europe Since 1945,F,1.00,4.0,C,4.0,3.250,Randall Law,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df_4 = df.loc[(df['Cohort'] == '14/FA') | (df['Cohort'] == '15/FA') | (df['Cohort'] == '16/FA')
              | (df['Cohort'] == '17/FA')]
df_4 = df_4.dropna(subset=['Sttr Term'])
df_4

,Sttr Term,course_#,course_title,Sttr Student Load,Sttr Stu Credits,Sttr Attempted Cred,Sttr Stu Final Grades,Sttr Cmpl Cred,Sttr Term Gpa,faculty,...,FA5 Enr,FA5 Class,FA5 Major,FA6 Enr,FA6 Class,FA6 Major,Graduated,Grad Term,Grad Year,Grad Major
0,15/SP,DA 101 A,Basic Ballet,F,0.5,3.0,W,3.0,3.667,Melissa Turnage,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,18/SP,1718.0,Psychology
1,15/SP,HI 155 A-ES,Reforming America,F,1.0,NaN,A-,3.0,3.667,Victoria Ott,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,18/SP,1718.0,Psychology
2,15/SP,PL 200 A-CI,Ethical Choice,F,1.0,NaN,B+,3.0,3.667,William Myers,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,18/SP,1718.0,Psychology
3,15/SP,IDS 200 A-CI,Intro to Human Rights (GP),F,1.0,NaN,A,3.0,3.667,Sandra Sprayberry,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,18/SP,1718.0,Psychology
4,15/WI,GEN E299 49,Exploration Project,F,1.0,1.0,S,1.0,0.000,Vincent Gawronski,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,18/SP,1718.0,Psychology
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41079,18/FA,EH 102 A,Sem Critical Thinking Writing,F,1.0,3.0,B,3.0,3.667,Jane Archer,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN
41080,19/SP,MFS 220 A-CE,Film Production I,F,1.0,4.0,A,4.0,2.500,Robert Corna,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN
41081,19/SP,PY 101 C,Introduction to Psychology,F,1.0,NaN,C,4.0,2.500,Greta Valenti,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN
41082,19/SP,MU 114 A-CE,Class Voice,F,1.0,NaN,B,4.0,2.500,Paul Wolf,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN
41083,19/SP,EH 210 A-IA,Introduction to Fiction,F,1.0,NaN,D,4.0,2.500,Haden Bell,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN

## Checking for Course Title Duplicates ##

In [11]:
print(df_4['course_title'].value_counts())

Exploration Project               3097
Sem Critical Thinking Writing     1210
Introduction to Psychology         973
Calculus I                         660
Introduction to Sociology          651
                                  ...
R3 Ind Proj Or Intern                1
Object-Oriented Programming          1
Teaching Exp in UES                  1
Intro to Poverty Studies             1
Pol of Mexico and Central Amer       1
Name: course_title, Length: 952, dtype: int64

In [12]:
print(df_4.nunique())

Sttr Term                  24
course_#                 1721
course_title              952
Sttr Student Load           5
Sttr Stu Credits            7
Sttr Attempted Cred        23
Sttr Stu Final Grades      19
Sttr Cmpl Cred             24
Sttr Term Gpa             789
faculty                   292
alt_id                   1455
Cohort                      4
SP1 Enr                     4
SP1 Class                   3
SP1 Major                  25
FA2 Enr                     4
FA2 Class                   4
FA2 Major                  28
FA3 Enr                     4
FA3 Class                   4
FA3 Major                  36
FA4 Enr                     4
FA4 Class                   3
FA4 Major                  43
FA5 Enr                     3
FA5 Class                   3
FA5 Major                  20
FA6 Enr                     2
FA6 Class                   1
FA6 Major                   5
Graduated                   2
Grad Term                  16
Grad Year                   5
Grad Major                 46
dtype: int64

## One Hot Encoding Course Title ##

In [13]:
from sklearn.preprocessing import OneHotEncoder
from numpy import asarray

In [14]:
    #data = df_4[['course_title']]
#encoder = OneHotEncoder(handle_unknown='ignore')
    #encoded = OneHotEncoder(sparse=False)
#encoder.fit(df)
    #encoded_df = encoded.fit_transform(data)
#df_encoded = encoder.transform(df)
    #encoded_df

In [15]:
#ohe = OneHotEncoder()
#dummies = ohe.fit_transform(df_4[['course_title']])
#dummies_df = pd.DataFrame(dummies.todense(), columns=ohe.get_feature_names(), index=df_4.index)
#ohe_df = pd.concat([df_4, dummies_df], axis=1)

In [16]:
from sklearn.preprocessing import LabelEncoder

In [17]:
le = LabelEncoder()

In [18]:
le.fit(df['course_title'])

LabelEncoder()

In [19]:
df['course_title'] = le.transform(df['course_title'])

In [20]:
df

,Sttr Term,course_#,course_title,Sttr Student Load,Sttr Stu Credits,Sttr Attempted Cred,Sttr Stu Final Grades,Sttr Cmpl Cred,Sttr Term Gpa,faculty,...,FA5 Enr,FA5 Class,FA5 Major,FA6 Enr,FA6 Class,FA6 Major,Graduated,Grad Term,Grad Year,Grad Major
0,15/SP,DA 101 A,65,F,0.5,3.0,W,3.0,3.667,Melissa Turnage,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,18/SP,1718.0,Psychology
1,15/SP,HI 155 A-ES,663,F,1.0,NaN,A-,3.0,3.667,Victoria Ott,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,18/SP,1718.0,Psychology
2,15/SP,PL 200 A-CI,259,F,1.0,NaN,B+,3.0,3.667,William Myers,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,18/SP,1718.0,Psychology
3,15/SP,IDS 200 A-CI,416,F,1.0,NaN,A,3.0,3.667,Sandra Sprayberry,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,18/SP,1718.0,Psychology
4,15/WI,GEN E299 49,270,F,1.0,1.0,S,1.0,0.000,Vincent Gawronski,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,18/SP,1718.0,Psychology
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51513,20/FA,EH 102 F,710,F,1.0,4.0,A-,4.0,3.335,Mary Foster,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51514,21/SP,AC 221 A,283,F,1.0,4.0,A,4.0,3.250,Tracy Smith,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51515,21/SP,EC 202 A-IA,592,F,1.0,4.0,B,4.0,3.250,Randall Cragun,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51516,21/SP,ED 313 A-IA,453,F,1.0,4.0,A,4.0,3.250,Louanne Jacobs,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51517,21/SP,HI 277 A,794,F,1.0,4.0,C,4.0,3.250,Randall Law,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Sorting Semester Term - Ascending ##

In [21]:
df['alt_id'] = df['alt_id'].astype(int)

In [22]:
df.sort_values(['alt_id', 'Sttr Term'], ascending=True)

,Sttr Term,course_#,course_title,Sttr Student Load,Sttr Stu Credits,Sttr Attempted Cred,Sttr Stu Final Grades,Sttr Cmpl Cred,Sttr Term Gpa,faculty,...,FA5 Enr,FA5 Class,FA5 Major,FA6 Enr,FA6 Class,FA6 Major,Graduated,Grad Term,Grad Year,Grad Major
10589,15/FA,EH 102 H,710,F,1.0,3.0,B-,2.0,1.557,Melinda Thompson,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,19/SP,1819.0,Psychology
10590,15/FA,MFS 210 A-IA,277,F,1.0,3.0,F,2.0,1.557,David Resha,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,19/SP,1819.0,Psychology
10591,15/FA,SN 220 A,370,F,1.0,3.0,C,2.0,1.557,Jane Spencer,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,19/SP,1819.0,Psychology
10598,16/FA,ED 201 C,410,F,1.0,4.0,A,4.0,3.168,Tara Bennett,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,19/SP,1819.0,Psychology
10599,16/FA,MFS 100 A,421,F,1.0,4.0,A-,4.0,3.168,Robert Corna,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,19/SP,1819.0,Psychology
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50054,20/SP,CH 120 A-SM,305,F,1.0,4.0,C+,4.0,2.415,Antoinette South,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50059,21/SP,PH 121 A-SM,307,F,1.0,4.0,C-,4.0,2.083,Matthew Rhoades,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50060,21/SP,SN 201 A,296,F,1.0,4.0,B+,4.0,2.083,Kimberly Lewis,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50061,21/SP,MA 207 B-QA,309,F,1.0,4.0,C,4.0,2.083,Allie Ray,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50062,21/SP,CH 220 A,256,F,1.0,4.0,D+,4.0,2.083,Scott Dorman,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [79]:
df.query('course_title==0')

,Sttr Term,course_#,course_title,Sttr Student Load,Sttr Stu Credits,Sttr Attempted Cred,Sttr Stu Final Grades,Sttr Cmpl Cred,Sttr Term Gpa,faculty,...,FA5 Enr,FA5 Class,FA5 Major,FA6 Enr,FA6 Class,FA6 Major,Graduated,Grad Term,Grad Year,Grad Major
25850,19/FA,EH 390 A,0,F,1.0,3.0,A,3.0,3.667,Sandra Sprayberry,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,20/SP,1920.0,English
28080,19/FA,EH 390 A,0,F,1.0,4.0,A,4.0,3.418,Sandra Sprayberry,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,20/SP,1920.0,English

In [52]:
df = df.sort_values(['Sttr Term'], ascending=True)

student_ids = df.alt_id.unique()

course_sequences = []

for s_id in student_ids:
    frame = df[df['alt_id'] == s_id]
    course_ids = frame.course_title.to_numpy()
    course_sequences.append(course_ids)

In [53]:
course_ids

array([ 69, 434, 472, 319, 710, 517])

In [68]:
from tensorflow.keras.preprocessing import sequence

sequences =sequence.pad_sequences(
    course_sequences, maxlen=None, dtype='int32', padding='post',
    truncating='post', value=0.0
)

In [67]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder()
encoder.fit(df[['course_title']])

OneHotEncoder()

In [78]:
pd.DataFrame(encoder.transform(np.array(sequences[0]).reshape(-1,1)).todense())

,0,1,2,3,4,5,6,7,8,9,...,971,972,973,974,975,976,977,978,979,980
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
60,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
61,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
62,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
63,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [75]:
np.array(sequences[0]).reshape(-1,1)

array([[547],
       [710],
       [591],
       [309],
       [474],
       [403],
       [370],
       [372],
       [592],
       [338],
       [264],
       [296],
       [270],
       [219],
       [258],
       [587],
       [502],
       [  5],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0],
       [  0]], dtype=int32)

In [61]:
import numpy as np

np.vstack(course_sequences)

ValueError: all the input array dimensions for the concatenation axis must match exactly, but along dimension 1, the array at index 0 has size 18 and the array at index 1 has size 13

In [23]:
sequence = []
multi_sequence = []
for i in range(len(df)):
    sequence.append(df['course_title']) 
sequence

[0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710
 51514    283
 51515    592
 51516    453
 51517    794
 Name: course_title, Length: 51518, dtype: int64,
 0         65
 1        663
 2        259
 3        416
 4        270
         ...
 51513    710

In [25]:
#for list in lists(len(sequence))

In [26]:
multi_sequence

[]

In [27]:
for list in lists(len(sequence))
multi_sequence.append(sequence)

SyntaxError: invalid syntax (<ipython-input-27-62b0d448518b>, line 1)

In [28]:
#len(encoded_df)

In [29]:
#df_4.isna().sum()

In [ ]:
#df_encoded = encoded.transform(df_4[['course_title']])

In [ ]:
#df_4['encoded'] = df_encoded

## Taking out faculty_ next to professors names in column titles ##

In [ ]:
#df.columns = df.columns.str.replace('faculty_', '')

In [ ]:
#df

## Taking out course_title next to course names in column titles ##

In [ ]:
#df.columns = df.columns.str.replace('course_title', '')